body {
  background-color: rgb(0, 0, 0);
}

.general-style {
  border: none;
  color: rgb(255, 255, 255);
  font-size: 26px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.operand-button {
  background-color: rgb(51, 51, 51);
}

.operator-button {
  background-color: rgb(254, 160, 10);
}

.clear-button {
  font-size: 16px;
}

.result {
  font-family: Arial;
  font-size: 45px;
  color: white;
  margin-top: 15px;
  margin-bottom: 5px;
}